# Values for real numbers

# Miximim allowable fractional difference between 
# golden and calculated values
#MAX_RELATIVE_DIFFERENCE = 0.000002

MAX_RELATIVE_DIFFERENCE = 0.0055

# Point below which we do not care.
# DO_NOT_CARE_POINT       = 0.0000001

DO_NOT_CARE_POINT       = 0.00000075

# Values for the individual sub-components of
# complex numbers
#COMPONENT_RELATIVE_DIFF     = 0.000002

#COMPONENT_DO_NOT_CARE_POINT = 0.00000005

